/target
books-plot/*
books-pdf/*
books-data/*
books-fracts/*
/joe-biden
/lexo_corpus_env
python/tetlib
/joe-biden-compendium/*
/joe-biden-debug/*
/logs/*
/labeled-data-copy/*
jb1/*
/joe-biden-debug-dataset
books-txt/*
con2/*
joe-biden-debug-dataset-multiple/*
labeled-data/*
labeled-data-singular/*
